* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  background: grey;
  color: white;
  margin: 10px;
  padding: 10px;
}

#arena {
  display: flex;
}

#playerOne,
#playerTwo {
  width: 50%;
  background-color: #666;
  text-align: center;
}

.name {
  font-size: 1.2em;
  font-weight: bolder;
  text-transform: uppercase;
}
